<div {{ attributes }} class="col-sm-6 col-lg-3" data-poll data-loading="addClass(opacity-50 bg-red)">
    {% set monitorList = this.fetchData() %}
    {% set monitorsStatusPercent = monitorList.percentOfStatus(this.monitorStatus) %}

    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="subheader">Monitor {{ this.monitorStatus }}</div>
            </div>
            <div class="h1 mb-3">{{ monitorList.countByStatus(this.monitorStatus) }}</div>
            <div class="d-flex mb-2">
                <div>Taux</div>
                <div class="ms-auto">
                        <span class="text-{{ this.getColor(monitorsStatusPercent, monitorList) }} d-inline-flex align-items-center lh-1">
                          {{ monitorsStatusPercent }}%
                          <i class="fa fa-arrow-trend-{{ this.monitorStatus }}"></i>
                        </span>
                </div>
            </div>
            <div class="progress progress-sm">
                <div class="progress-bar bg-primary" style="width: {{ monitorsStatusPercent }}%" role="progressbar" aria-valuenow="{{ monitorsStatusPercent }}" aria-valuemin="0" aria-valuemax="100" aria-label="{{ monitorsStatusPercent }}% Complete">
                    <span class="visually-hidden">{{ monitorsStatusPercent }}% des moniteurs</span>
                </div>
            </div>
        </div>
    </div>
</div>