
{% trans_default_domain 'front' %}

<div class="fe_card">

    <p class="fe_time">
        {{ date }}
        {% if city is defined %}
            | <span class="fe_city">{{ city }}</span>
        {% endif %}
    </p>
    <h3 class="fe_title">
        {% if current is defined and current == true %}
            <span class="fe_current">•</span>
        {% endif %}
        {{ title }}
        {% if title_extended is defined and title_extended != '' %}
            (<span class="fe_title_extended">{{ title_extended }}</span>)
        {% endif %}
    </h3>
    <p class="fe_location">{{ location }}</p>

</div>
