{% trans_default_domain 'front' %}

<a class="project_card" href="{{ path('app_front_project', {'project_name': project_name}) }}">
    <img src="{{ asset('build/front/static/img/projects'~project_card_image, 'front') }}" alt="{{ project_title }}">

    <div class="project_card_content">
        <h2>{{ project_title }}</h2>
        <p>{{ project_description }}</p>

        <div class="project_card_footer">
            <span class="project_status project_status_{{ project_status }}">{{ project_year }}</span>
        </div>
    </div>
</a>
