
{% trans_default_domain 'front' %}

<div class="{{ size_class }} skills-container">
    <div class="skills_row">

        <div class="skills_card">
            <img src="{{ asset('build/front/static/img/skills/symfony.svg', 'front') }}" alt="Icone symfony"/>
            <p>Symfony</p>
        </div>

        <div class="skills_card">
            <img src="{{ asset('build/front/static/img/skills/java.svg', 'front') }}" alt="Icone java"/>
            <p>Java</p>
        </div>

        <div class="skills_card">
            <img src="{{ asset('build/front/static/img/skills/mysql.svg', 'front') }}" alt="Icone symfony"/>
            <p>MySQL</p>
        </div>

        <div class="skills_card">
            <img src="{{ asset('build/front/static/img/skills/postgres.svg', 'front') }}" alt="Icone symfony"/>
            <p>Postgres</p>
        </div>

    </div>
</div>
