{% trans_default_domain 'front' %}

<div class="aboutme" id="aboutme">
    <hr class="separed_tabs">

    <div class="aboutme_top_bar">
        <div class="portfolio_title aboutme_title">
            <h2>{{ 'portfolio.aboutme.title'|trans }}</h2>
            <p>{{ 'portfolio.aboutme.description'|trans }}</p>

            <p class="aboutme_paragraph desktop" style="margin-top: 50px">{{ 'portfolio.aboutme.paragraph_one'|trans }}</p>
            <p class="aboutme_paragraph desktop">{{ 'portfolio.aboutme.paragraph_two'|trans }}</p>
            {% include 'front/portfolio/components/_skills.html.twig' with {
                'size_class': 'desktop'
            }%}

        </div>

        <div class="aboutme_img">
            <img class="aboutme_img_presentation" src="{{ asset('build/front/static/img/logo/head-right.png', 'front') }}" alt="">

            <a href="{{ asset('build/front/static/upload/CV_MILLAN_Romain.pdf', 'front') }}" download="MILLAN Romain - CV" target="_blank" class="cta_prev_btn download_cv_btn mt-2 desktop">
                <svg height="24" width="24" stoke="#FFFFFF" viewBox="0 0 24 24" data-name="Layer 1" id="Layer_1" class="cta_prev_sparkle">
                    <path d="M17 17H17.01M17.4 14H18C18.9319 14 19.3978 14 19.7654 14.1522C20.2554 14.3552 20.6448 14.7446 20.8478 15.2346C21 15.6022 21 16.0681 21 17C21 17.9319 21 18.3978 20.8478 18.7654C20.6448 19.2554 20.2554 19.6448 19.7654 19.8478C19.3978 20 18.9319 20 18 20H6C5.06812 20 4.60218 20 4.23463 19.8478C3.74458 19.6448 3.35523 19.2554 3.15224 18.7654C3 18.3978 3 17.9319 3 17C3 16.0681 3 15.6022 3.15224 15.2346C3.35523 14.7446 3.74458 14.3552 4.23463 14.1522C4.60218 14 5.06812 14 6 14H6.6M12 15V4M12 15L9 12M12 15L15 12"/>
                </svg>

                <span class="cta_prev_text">{{ 'portfolio.aboutme.download_cv'|trans }}</span>
            </a>
        </div>
    </div>

    <p class="aboutme_paragraph mobile">{{ 'portfolio.aboutme.paragraph_one'|trans }}</p>
    <p class="aboutme_paragraph mobile">{{ 'portfolio.aboutme.paragraph_two'|trans }}</p>
    {% include 'front/portfolio/components/_skills.html.twig' with {
        'size_class': 'mobile'
    }%}

    <a href="{{ asset('build/front/static/upload/CV_MILLAN_Romain.pdf', 'front') }}" download="MILLAN Romain - CV" target="_blank" class="cta_prev_btn w-75 mt-2 download_cv_btn m-auto mobile">
		<svg height="24" width="24" stoke="#FFFFFF" viewbox="0 0 24 24" data-name="Layer 1" id="Layer_1" class="cta_prev_sparkle">
			<path d="M17 17H17.01M17.4 14H18C18.9319 14 19.3978 14 19.7654 14.1522C20.2554 14.3552 20.6448 14.7446 20.8478 15.2346C21 15.6022 21 16.0681 21 17C21 17.9319 21 18.3978 20.8478 18.7654C20.6448 19.2554 20.2554 19.6448 19.7654 19.8478C19.3978 20 18.9319 20 18 20H6C5.06812 20 4.60218 20 4.23463 19.8478C3.74458 19.6448 3.35523 19.2554 3.15224 18.7654C3 18.3978 3 17.9319 3 17C3 16.0681 3 15.6022 3.15224 15.2346C3.35523 14.7446 3.74458 14.3552 4.23463 14.1522C4.60218 14 5.06812 14 6 14H6.6M12 15V4M12 15L9 12M12 15L15 12"/>
		</svg>

		<span class="cta_prev_text">{{ 'portfolio.aboutme.download_cv'|trans }}</span>
	</a>
</div>
