{% extends 'signature/base.html.twig' %}
{% block turbo 'false' %}

{% block main %}
    {% trans_default_domain 'signature' %}

    <article class="card">
        <div class="card--header">
            <h1>{{ 'create.title'|trans }}</h1>
        </div>
        <div class="card--content">
            <p class="mb-3">{{ 'create.description'|trans }}</p>

            <section class="form--container mt-3">
            {{ form_start(form) }}
                {{ form_errors(form, {'class': 'form--errors'}) }}

                <section>
                    <h2>{{ 'create.form.general_information.title'|trans }}</h2>

                    {{ form_row(form.lastName, {row_attr: {class: 'form--input'}}) }}
                    {{ form_row(form.firstName, {row_attr: {class: 'form--input'}}) }}
                    {{ form_row(form.status, {row_attr: {class: 'form--input'}}) }}
                    {{ form_row(form.logo, {row_attr: {class: 'form--input'}}) }}
                    {{ form_row(form.accentColor, {row_attr: {class: 'form--input'}}) }}
                </section>

                <hr class="mt-2 mb-2">

                <section>
                    {{ form_row(form.emails, {row_attr: {class: 'form--input'}}) }}
                    {{ form_errors(form.emails) }}
                </section>

                <section>
                    {{ form_row(form.phones, {row_attr: {class: 'form--input'}}) }}
                    {{ form_errors(form.phones) }}
                </section>

                <hr class="mt-2 mb-2">

                <section>
                    <h2>{{ 'create.form.social_networks.title'|trans }}</h2>

                    <div class="form--input">
                        <div class="form--input-group">
                            <p class="form--input-group-text">https://instagram.com/</p>
                            {{ form_widget(form.socialNetwork.instagram) }}
                        </div>
                    </div>
                    <div class="form--input">
                        <div class="form--input-group">
                            <p class="form--input-group-text">https://linkedin.com/in/</p>
                            {{ form_widget(form.socialNetwork.linkedin) }}
                        </div>
                    </div>
                    <div class="form--input">
                        <div class="form--input-group">
                            <p class="form--input-group-text">https://github.com/</p>
                            {{ form_widget(form.socialNetwork.github) }}
                        </div>
                    </div>
                    <div class="form--input">
                        <div class="form--input-group">
                            <p class="form--input-group-text">https://</p>
                            {{ form_widget(form.socialNetwork.website) }}
                        </div>
                    </div>
                    <div class="form--input">
                        <div class="form--input-group">
                            <p class="form--input-group-text">https://discord.gg/invites/</p>
                            {{ form_widget(form.socialNetwork.discord) }}
                        </div>
                    </div>

                    <div class="d-flex flex-row justify-content-center align-items-center mt-3 mb-2 gap-20">
                        <a href="{{ path('app_signature_create') }}" class="btn btn-danger">{{ 'action.cancel'|trans }}</a>
                        <button type="submit" class="btn btn-primary">{{ 'action.save'|trans }}</button>
                    </div>
                </section>

                {{ form_rest(form) }}
            {{ form_end(form) }}
            </section>
        </div>
    </article>

{% endblock %}
