{% extends 'panel/gestion/applicationCategory/base.html.twig' %}

{% block header_action %}
    <div class="btn-list">
        <twig:panel:button:link:primary title="Crée une nouvelle catégorie" icon="tabler:plus" link="{{ path('app_panel_gestion_application_category_create') }}"/>
    </div>
{% endblock %}

{% block content %}
    <div class="col-11 col-md-10 col-xl-8 d-flex flex-row justify-content-center me-auto ms-auto">

        <twig:panel:list
                data="{{ categories }}"
        >
            {% block title 'Liste des catégories' %}

            {% block thead %}
                <th>Nom</th>
                <th class="d-none d-xl-table-cell">Dans l'accordéon</th>
                <th class="d-none d-xl-table-cell">Numéro d'order</th>
                <th></th>
            {% endblock %}

            {% block content %}
                <td>{{ object.name }}</td>
                <td class="d-none d-xl-table-cell">{{ object.inAccordion ? 'Oui' : 'Non' }}</td>
                <td class="d-none d-xl-table-cell">{{ object.orderNumber }}</td>
                <td class="text-end">
                    <a href="{{ path('app_panel_gestion_application_category_edit', {'id': object.id}) }}">
                        {{ ux_icon('tabler:edit', {width: "24px", height: '24px', class: 'text-black'}) }}
                    </a>

                    <button type="button" class="btn btn-action" data-bs-toggle="modal" data-bs-target="#delete-{{ object.id }}">
                        {{ ux_icon('tabler:trash', {width: "24px", height: '24px', class: 'text-danger'}) }}
                    </button>
                </td>

                {% include 'components/panel/modal/delete.html.twig' with {
                    id: 'delete-'~object.id,
                    href: path('app_panel_gestion_application_category_delete', {id: object.id})
                } %}
            {% endblock %}
        </twig:panel:list>
    </div>
{% endblock %}
