{% extends 'panel/gestion/application/base.html.twig' %}

{% block header_action %}
    <div class="btn-list">
        <a href="{{ path('app_panel_gestion_application_create') }}" class="btn btn-primary btn-5 d-none d-sm-inline-block">
            <twig:ux:icon class="icon icon-2" name="tabler:plus" width="24px" height="24px"/>

            Crée une nouvelle application
        </a>
    </div>
{% endblock %}

{% block content %}
    <div class="col-11 col-md-10 d-flex flex-row justify-content-center me-auto ms-auto">

        <twig:panel:list
                data="{{ applications }}"
        >
            {% block title 'Liste des applications' %}

            {% block filterForm %}
                {{ form_start(filterForm) }}
                {{ form_row(filterForm.query, {attr: {class: 'form-control'}}) }}
                {{ form_end(filterForm) }}
            {% endblock %}

            {% block thead %}
                <th>Nom</th>
                <th class="d-none d-md-table-cell">Description</th>
                <th class="d-none d-xl-table-cell">Interface</th>
                <th class="d-none d-xxl-table-cell">Catégories</th>
                <th></th>
            {% endblock %}

            {% block content %}
                <td>
                    <span>
                        <img src="{{ 'https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/svg/'~object.icon~'.svg' }}" alt="{{ object.icon }}" width="24px" height="24px">
                        {{ object.name }}
                    </span>

                    <span class="d-block d-md-none">{{ object.description }}</span>
                </td>
                <td class="d-none d-md-table-cell">{{ object.description }}</td>
                <td class="d-none d-xl-table-cell">
                    {% if object.hasInterface %}
                        <span class="badge bg-success-lt">Active</span>
                    {% else %}
                        <span class="badge bg-danger-lt">Inactive</span>
                    {% endif %}
                </td>
                <td class="d-none d-xxl-table-cell">
                    <div class="badges-list">
                        {% for category in object.categories %}
                            <span class="badge">{{ category.name }}</span>
                        {% endfor %}
                    </div>
                </td>
                <td class="text-end">
                    <a href="{{ path('app_panel_gestion_application_edit', {'id': object.id}) }}">
                        {{ ux_icon('tabler:edit', {width: "24px", height: '24px', class: 'text-black'}) }}
                    </a>

                    <button type="button" class="btn btn-action" data-bs-toggle="modal" data-bs-target="#delete-{{ object.id }}">
                        {{ ux_icon('tabler:http-delete', {width: "24px", height: '24px', class: 'text-black'}) }}
                    </button>
                </td>

                {% include 'components/panel/modal/delete.html.twig' with {
                    id: 'delete-'~object.id,
                    href: path('app_panel_gestion_application_delete', {id: object.id})
                } %}
            {% endblock %}
        </twig:panel:list>
    </div>
{% endblock %}
