{% trans_default_domain 'front' %}

{% extends 'portfolio/base.html.twig' %}

{% block title '- '~project_title %}

{% block header %}
	{% include 'portfolio/components/portfolio/header.html.twig' %}
{% endblock %}

{% block body_attribut %}
	class="bg_black"
{% endblock %}

{% block main %}

	<div class="portfolio--container-main">

		<div class="project--container">

			<div class="mobile project-page_title_mobile"></div>
			<div class="project-page_title">

				<h2 style="font-weight: bold; font-size: 1.5rem">{{ project_title }}</h2>

				{% set description = "frontend.project.#{ project_name }.description_long"|trans %}
				{% if description == "frontend.project.#{ project_name }.description_long" %}
					{% set description = "frontend.project.#{ project_name }.description"|trans %}
				{% endif %}
				<p>{{ description }}</p>

				<div class="project-page_links">

					{% set githubLink = "frontend.project.#{ project_name }.links.github"|trans %}
					{% if githubLink != "frontend.project.#{ project_name }.links.github" %}
						<a href="{{ githubLink }}" target="_blank">
							<img src="{{ asset('static/img/project_page/github.svg') }}" alt="Icone github">
						</a>
					{% endif %}

					{% set websiteLink = "frontend.project.#{ project_name }.links.website"|trans %}
					{% if websiteLink != "frontend.project.#{ project_name }.links.website" %}
						<a href="{{ websiteLink }}" target="_blank">
							<img src="{{ asset('static/img/project_page/website.svg') }}" alt="Icone website">
						</a>
					{% endif %}

				</div>

			</div>

			<div class="project-page_images">
				{% for i in 1..10 %}
					{% set image_one_link = "frontend.project.#{ project_name }.images.#{ i }.link"|trans %}
					{% if image_one_link != "frontend.project.#{ project_name }.images.#{ i }.link" %}
						{% set image_one_widt = "frontend.project.#{ project_name }.images.#{ i }.width"|trans %}
						<img width="{{ image_one_widt }}" class="project-page_image" src="{{ asset('static/img/projects'~image_one_link) }}" alt="Image one"/>
					{% endif %}
				{% endfor %}
			</div>

			<a href="{{ path('app_portfolio') }}#projects" class="project-page_return_projects_list">
				<button>
					<img src="{{ asset('static/img/utils/return.svg') }}" alt="Icone return projects">
					{{ 'frontend.projects.return_to_project'|trans }}
				</button>
			</a>

		</div>

	</div>

{% endblock %}
