{% extends '@Tabler/layout-horizontal.html.twig' %}

{% block page_actions '' %}
{% block page_pretitle '' %}
{% block navbar_search '' %}

{% block app_logo %}
    <h1 class="navbar-brand d-none-navbar-horizontal pe-0 pe-md-3 navbar-brand-autodark">
        <a href="{{ path('tabler_welcome'|tabler_route) }}">
            <img
                    class="navbar-brand-image"
                    src="{{ asset('build/panel/static/img/logo/romainmillan-panel.svg', 'panel') }}"
                    width="110" height="32"
                    alt=""
            >
        </a>
    </h1>
{% endblock %}

{% block head %}
    {% include '@Tabler/includes/html_head.html.twig' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="turbo-refresh-method" content="morph">
    <meta name="turbo-refresh-scroll" content="preserve">
    <meta name="turbo-prefetch" content="true">
    <meta name="view-transition" content="same-origin">
    <link rel="shortcut icon" href="{{ asset('build/panel/static/img/logo/icon.svg', 'panel') }}" type="image/x-icon">
    <link rel="mask-icon" href="{{ asset('build/panel/static/img/logo/icon.svg', 'panel') }}" color="#000000">
    <title>RM Panel</title>
{% endblock %}

{% block page_subtitle '' %}

{% block footer %}
    <footer id="{% block footer_id %}{% endblock %}" class="footer footer-transparent d-print-none">
        <div class="{{ ''|tabler_container }}">
            <div class="row text-center align-items-center flex-row-reverse">
                <div class="col-lg-auto ms-lg-auto">
                    <ul class="list-inline list-inline-dots mb-0">
                        <li class="list-inline-item"><a href="https://github.com/tabler/tabler" target="_blank"
                                                        class="link-secondary" rel="noopener">Template</a></li>
                        <li class="list-inline-item"><a href="https://github.com/RomainMILLAN/Romain-MILLAN-Website" target="_blank"
                                                        class="link-secondary" rel="noopener">Source code</a></li>
                    </ul>
                </div>
                <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                    <ul class="list-inline list-inline-dots mb-0">
                        <li class="list-inline-item">
                            Copyright &copy; 2023-{{ 'now' | date('Y') }}
                            <twig:RomainMillan style="" width="125px" type="filled-black-animation"/>.
                            Tout droits réservé.
                        </li>
                        <li class="list-inline-item">
                            <a href="https://github.com/RomainMILLAN/Romain-MILLAN-Website" class="link-secondary" rel="noopener">v{{ version }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/default.min.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/languages/twig.min.js"></script>
    <script>hljs.highlightAll();</script>
{% endblock %}