{% props title = 'Romain MILLAN', description = 'Site Internet', avatar = '', tags = [], actions = [] %}

{% set avatarUrl = 'https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/svg/'~avatar~'.svg' %}

<div class="col-md-6 col-lg-3">
    <div class="card">
        <div class="card-body p-4 text-center">
            <img class="avatar avatar-xl mb-3 rounded" src="{{ avatarUrl }}" alt="Service Avatar">
            <h3 class="m-0 mb-1">{{ title }}</h3>
            <div class="text-secondary">{{ description }}</div>
            {% if tags is not empty %}
                <div class="mt-3">
                    {% for tag in tags %}
                        <span class="badge bg-{{ tag.color }}-lt">{{ tag.name }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        {% if actions is not empty %}
            <div class="d-flex">
                {% for action in actions %}
                    {% set urlTarget = '_blank' %}
                    {% if action.target is defined %}
                        {% set urlTarget = action.target %}
                    {% endif %}

                    <a href="{{ action.url }}" target="{{ urlTarget }}" class="card-btn">
                        {% set actionIcon = 'link' %}
                        {% if action.icon is defined %}
                            {% set actionIcon = action.icon %}
                        {% endif %}

                        <i class="fa fa-{{ actionIcon }} me-2"></i>
                        {% if action.title is defined %}
                            {{ action.title }}
                        {% else %}
                            Lien
                        {% endif %}
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
