{% extends 'base.html.twig' %}

{% trans_default_domain 'front' %}

{% block header %}
    <section class="mobile_header">

        <div id="mobile_nav--container">

            <div class="mobile_nav--background"></div>
            <div class="mobile_nav--header">
                <a class="mobile_nav-logo" href="{{path('app_front_portfolio')}}">
                    <img src="{{asset('build/front/static/img/logo/icon.svg', 'front')}}" alt="Icone RomainMILLAN"/>
                </a>
                <div class="mobile_nav--button" tabindex="110">
                    <span class="mobile_nav--button_icon"></span>
                    <span class="mobile_nav--button_icon"></span>
                    <span class="mobile_nav--button_icon"></span>
                </div>
            </div>

            <div id="mobile_nav--content" tabindex="0">

                <ul>

                    <twig:rm-tag
                        width="230px"
                        isFilledBlack="true"
                        hasRedirect="true"
                    />

                    <li>
                        <a href="{{ path('app_front_portfolio') }}#home">{{ 'navigation.portfolio'|trans }}</a>
                    </li>
                    <li class="nav_small">
                        <p>© 2023-{{ 'now' | date('Y') }} <a href="{{ absolute_url(path('redirect')) }}">{{ absolute_url(path('redirect')) }}</a>, {{ 'footer.all_right_reserved'|trans }}</p>
                        <p>{{ 'footer.no_reproduce'|trans }}</p>
                    </li>

                </ul>

            </div>
        </div>

    </section>

    <section class="desktop_header">

        <twig:rm-tag
            width="230px"
            isFilledBlack="true"
            hasRedirect="true"
        />

        <nav class="desktop_header--navigation">
            <a class="desktop_header--navigation_item" href="#">{{ 'navigation.portfolio'|trans }}</a>
            <a href="#" class="desktop_header--navigation_item btn btn-primary">Test</a>
        </nav>

    </section>
{% endblock %}
