
{% trans_default_domain 'app' %}

<div class="desktop_header">
    <div class="desktop_nav-logo">
        {# <h1>{{ 'global.title'|trans }}</h1> #}
        <a href="{{ path('app_portfolio') }}">
            <img src="{{ asset('static/img/logo/romainmillan.svg',) }}" alt="Logo de Romain MILLAN"/>
        </a>
    </div>
    <nav>
      <li onclick="scrollToIdDiv('home')">{{ 'portfolio.header.nav.home'|trans }}</li>
      <li onclick="scrollToIdDiv('aboutme')">{{ 'portfolio.header.nav.aboutme'|trans }}</li>
      <li onclick="scrollToIdDiv('projects')">{{ 'portfolio.header.nav.projects'|trans }}</li>
      <li onclick="scrollToIdDiv('fe')">{{ 'portfolio.header.nav.fomations_experiences'|trans }}</li>
      <li onclick="scrollToIdDiv('contact')">{{ 'portfolio.header.nav.contact'|trans }}</li>

      {% if app.request.locale == 'fr' %}
        <li><a href="{{ path('app_portfolio', {'_locale': 'en'}) }}"><img src="{{ asset('static/img/utils/en.svg') }}" alt="Icone english"></a></li>
      {% else %}
        <li><a href="{{ path('app_portfolio', {'_locale': 'fr'}) }}"><img src="{{ asset('static/img/utils/fr.svg') }}" alt="Icone french"></a></li>
      {% endif %}
    </nav>
</div>
