<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">
            <img src="{{ asset('build/panel/static/img/logo/romainmillan-panel.svg', 'panel') }}" class="w-50" alt="Romain Millan / Signature">
        </h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
                <a class="nav-link" href="{{ url('app_front_portfolio') }}">Site officiel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ path('app_panel_prod_01_uptime_kuma') }}">Statuts <span class="badge text-white text-bg-secondary">PROD 01</span></a>
                <a class="nav-link active" aria-current="page" href="{{ path('app_panel_cloud_uptime_robot') }}">Statuts <span class="badge text-white text-bg-secondary">CLOUD</span></a>
                <a class="nav-link active" aria-current="page" href="{{ path('app_security_logout') }}">Déconnexion</a>
            </li>
        </ul>
    </div>
</div>